<h1 class="titulo">Publicar anúncio</h1>

<div class="caixanuncio col-md-6">

    <p>
        <select class="form-control" ng-model="venda.tipoDePontos">
            <option value="">Selecione</option>
            <option value="Tam">TAM</option>
            <option value="Gol">GOL</option>
        </select>
    </p>

    <input type="text" name="quantidade" class="form-control formPadrao" placeholder="Insira a Quantidade" ng-model="venda.quantidade" required>
    
    <input type="text" name="valor" class="form-control formPadrao" placeholder="Insira o Valor" ng-model="venda.valor" required>

    <button class="botaoPadrao" ng-click="cadastrarVenda()">Salvar</button>

</div>
