<h1 class="titulo">Finalizar compra</h1>

<div class="finalizarCompras col-xs-12 col-md-10 col-md-offset-1">

	<div class="fotoPerfil col-xs-12 col-md-2">
		<img src="img/icone-perfil.PNG" alt="icone para perfil" />
	</div>

	<div class="infoCompra col-xs-12 col-md-10">

		<p>
			<span class="maiusculo">{{venda.nome}} {{venda.sobrenome}} </span> <br />
			{{venda.qtd_pontos}} pontos da <strong>{{venda.titulo}}</strong> <br />
			<strong>{{venda.valor | currency:'R$'}}</strong><br>
		</p>
		<input type="hidden" name="id" ng-model="compra.id" value="{{venda.id}}" />
		<p>
			<select class="form-control" name="formaPagamento" required ng-model="compra.formaPagamento">
				<option value="">Formas de pagamento</option>
				<option value="C">Crédito</option>
			</select>
		</p>

		<button class="botaoPadrao" ng-click="realizarCompra()">Finalizar</button>
	</div>
	
</div>