<div class="perfilTopo col-xs-12">
	<h1 class="title titulo">Perfil</h1>
</div>
		
<div class="conteudoPage col-md-6">
	<h4 class="titulo">Perfil do usuário</h4>
	
	<form class="form-horizontal" name="formAtualizarPerfil">
		<input id="nomeUser" type="text"  name="nome" class="form-control formPadrao" placeholder="Nome" ng-model="usuario.nome" required>

		<input type="text" name="sobrenome" class="form-control formPadrao" placeholder="Sobrenome" ng-model="usuario.sobrenome" required>

		<input type="text" name="cpf" id="cpf" class="form-control formPadrao formPadraoCpf" placeholder="CPF" ng-model="usuario.cpf" required>

		<input type="email" name="email" class="form-control formPadrao" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ng-model="usuario.email" required>

		<input type="text" id="credito" name="credito" class="form-control formPadrao" placeholder="R${{ usuario.credito }}">

		<input type="text" id="login" name="login" class="form-control formPadrao" placeholder="Login" ng-model="usuario.login" required>

		<input type="password" name="senha" class="form-control formPadrao" placeholder="Senha" ng-model="usuario.senha" required>
		
		<button type="button" class="botaoPadrao" ng-click="atualizarPerfilUsuario()">Atualizar</button>

	</form>

</div>
