<div class="perfilTopo col-xs-12">
    <h1 class="title titulo">Meus pontos</h1>
</div>


<div class="col-xs-12 col-md-6">
    <div ng-controller="lojasController">
        <table class="table table-hover table-condensed">
            <tr>
                <th>#</th>
                <th>Tipo</th>
                <th>Quantidade</th>
            </tr>
            <tr ng-repeat="x in listarPontos">
                <td>{{ $index + 1 }}</td>
                <td>{{ x.tipoDePonto }}</td>
                <td>{{ x.quantidadePonto }}</td>
            </tr>
        </table>
    </div>
</div>


<div class="col-xs-12">
    <p>Selecione os pontos para realizar o cadastro dos seus pontos</p>
</div>


<div class="conteudoPage col-xs-12 col-md-6">
    <form name="meusPontos">
        <p>
            <select name="tipoDePonto" id="meus-pontos_tipoDePonto" ng-model="pontos.tipoDePonto"
                    ng-change="pesquisarPontos(tipoDePonto)" class="formSelect form-control" required>
                <option value="">Escolha o tipo de ponto</option>
                <option value="Tam">TAM</option>
                <option value="Gol">GOL</option>
            </select>
        </p>

        <p>
            <input type="text" name="quantidadePonto" id="meus-pontos_quantidadePonto" class="form-control formPadrao"
                   placeholder="quantidade de pontos" ng-model="pontos.quantidadePonto" required>
        </p>
        <p>
            <input type="hidden" name="codigo" id="meus-pontos_id" class="form-control formPadrao" placeholder="Codigo"
                   ng-model="pontos.codigo">
        </p>

        <button type="button" ng-click="cadastrarTiposDePontos()" class="botaoPadrao">Cadastrar</button>

    </form>
</div>