<div class="col-xs-12">

	<h1 class="titulo">Home</h1>

</div>

<div class="blocoLojas col-xs-12">
	<div ng-controller="homeController">
		<div class="col-md-3 col-md-offset-1 well containerpontos" ng-repeat="x in listarHome">
			<b>{{ x.titulo }}</b> {{x.qtd_pontos}}  pts por {{x.valor | currency:'R$'}}<br>
			{{x.nome}} {{x.sobrenome}}<br />
			<a href="mailto:{{x.email}}">{{x.email}}</a><br />
			<a class="botaoPadraoLink" href="#/finalizar_compra/{{x.venda_id}}">comprar</a>
		</div>
	</div>
</div>