<div class="col-xs-12">

	<h1 class="titulo">Anúncios</h1>

</div>

<div class="blocoLojas col-xs-12">
	<div ng-controller="homeController">
		<div class="col-md-3 col-md-offset-1" ng-repeat="x in listarHome">
			<div class="col-xs-12 well containerpontos {{ x.id_usuario_vendedor }}">
				<span class="maiusculo">{{x.nome}} {{x.sobrenome}}</span> <br />
				<span>{{x.qtd_pontos}}</span>  pontos da <strong>{{ x.titulo }}</strong><br />
				<strong>{{x.valor | currency:'R$'}}</strong><br />
				
				<!--a class="botaoPadraoLink" href="#/finalizar_compra/{{x.venda_id}}">Comprar</a-->
				<button class="botaoPadraoLink" ng-click="permitirComprar(x.id_usuario_vendedor, x.venda_id)">Comprar</button>
			</div>
		</div>
	</div>
</div>