<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.pointstore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/point_store_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".util.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".util.Login" />
        <activity
            android:name=".util.AlterarSenha"
            android:label="Esqueceu sua Senha ?"/>
        <activity
            android:name=".util.CadastrarVendas"
            android:label="Anunciar Vendas" />
        <activity
            android:name=".util.FinalizarCompra"
            android:label="Finalizar Compra"/>
        <activity android:name=".util.ListarPontos" />
        <activity android:name=".Listar_pontos_cadastradros" />
        <activity
            android:name=".CadastrarSeusPontos"
            android:label="Meus Pontos"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".util.CadastrarUsuario"
            android:label="Cadastre-Se"/>
        <activity
            android:name=".ListarAnunciosActivity"
            android:label="@string/title_activity_listar_anuncios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".util.Perfil"
            android:label="@string/title_activity_perfil"
            android:theme="@style/AppTheme.AppBarOverlay" />
        <activity
            android:name=".GerenciarVendas"
            android:label="Gerenciar Vendas"/>
        <activity
            android:name=".HistoricoCompras"
            android:label="Histórico de Compras">
        </activity>
    </application>

</manifest>