<h1 class="titulo">Finalizar compra</h1>

<div class="finalizarCompras col-xs-12 col-md-10 col-md-offset-1">

	<div class="fotoPerfil col-xs-12 col-md-2">
		<img src="img/icone-perfil.PNG" alt="icone para perfil" />
	</div>

	<div class="infoCompra col-xs-12 col-md-10">
		
		<p>
			Micheli Santos <br />
			<a href="mailto:micheli.santos@email.com">micheli.santos@email.com</a> <br />
			HotMilhas <br />
			90 pontos por R$50 <br />
			Formas de pagamentos
		</p>
		
		<p>
			<select class="form-control">
				<option>PayPal</option>
				<option>Boleto</option>
			</select>
		</p>

		<p>
			<input type="text" name="numeroCartao" class="form-control formPadrao" placeholder="número do cartão" />
		</p>

		<p>
			<input type="text" name="codigoSeguranca" class="form-control formPadrao" placeholder="código de segurança" />
		</p>

		<button class="botaoPadrao">Finalizar</button>
	</div>
	
</div>