	
	<div class="formularioUsuario col-xs-12">

		<h1 class="tituloLogin">Esqueceu a senha</h1>

		<form name="formAlterarSenha" method="post">
			<input type="email" name="email" class="form-control formPadrao" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ng-model="email" required>

			<input type="password" name="senha" class="form-control formPadrao" placeholder="digite uma nova senha" ng-model="senha" required>

			<input type="password" name="senha2" class="form-control formPadrao" placeholder="digite novamente a senha" ng-model="senha2" required>

			<button class="botaoPadrao" ng-click="recuperarSenhaUsuario(email, senha, senha2)">Atualizar</button>

		</form>
	</div><!-- fim da DIV formulario -->

	<div class="areaDoUsuarioBtn col-xs-12">
		<button class="btn btn-default" onclick="javascript:history.back()">Voltar</button>
	</div><!-- fim da DIV botão voltar -->
